.card {
  width: 10rem;
  height: 13rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  border: 6px solid var(--orangeCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 26px 2rem 28px;
}
.card img {
  transform: scale(0.6);
  margin-bottom: -21px;
}
.card span {
  font-family: sans-serif;
  font-size: 16px;
}
.card span:nth-of-type(2) {
  color: var(--grey);
  font-size: 16px;
}
.c-button {
  background: white;
  box-shadow: 0px 19px 60px rgba(0, 0, 0, 0, 0.08);
  border-radius: 7px;
  border: none;
  padding: 6px;
  color: blue;
  transition: 0.3s;
}
.cards span {
  display: block;
  text-align: center;
}
.c-button:hover {
  cursor: pointer;
  color: red;
}
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}
